*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}
.calculator-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
td,button{
    width: 50px;
    height: 50px;
    border: none;
}
.calculator-grid table td button{
    cursor: pointer;
    font-size: 20px;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}
.calculator-grid table td button:hover{
    background-color: rgba(255, 255, 255, .9);
}
.colspan{
    background: rgba(0,0,0, .75);
    height: 70px;
    color: white;
    font-size: 16px;
}
.output{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.previous-operand{
    padding: 5px 5px 16px 5px;
    inline-size: 210px;
    overflow-wrap: break-word;
    font-size: 12px;
}
.current-operand {
    inline-size: 210px;
    overflow-wrap: break-word;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 20px;

}